@import url('https://fonts.googleapis.com/css2?family=Cookie&family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --vinho : #822726;
    --branco: #ffffff;
    --preto: #000000;
    --font-coolie: 'Cookie', cursive;
    --font-Zcool : 'ZCOOL XiaoWei', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --shadow: 0 1px 3px rgba(130, 40, 38, 0.5);
}

*{
    box-sizing: border-box;
    font-family: var(--font-poppins);
}

.cabecalho{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-rows: auto auto;
    gap: 0.5em;
    padding: 1em;
    box-shadow: var(--shadow);
}


.cabecalho-img{
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 0 auto;

}

.cabecalho-img > img{
    width: 75px;
}

.cabecalho-insta{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
    font-size: 2em;
    color: var(--vinho); 
}

.cabecalho-insta > i{
    cursor: pointer;
}

.cabecalho-pedido{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-start;
    
    
}

.cabecalho-pedido-btn{
    background-color: var(--vinho);
    color: var(--branco);
    padding: 0.5em 1em;
    box-shadow: 5px 5px 0px 0px rgb(237 36 51 / 30%);
    font-size: .8em;
    font-weight: 600;
    border: 1px solid var(--branco);
    cursor: pointer;
}

@media (min-width: 720px){
    .cabecalho{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    }

    .cabecalho-insta{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
    }
    .cabecalho-img{
    grid-column: 2/3;
    grid-row: 1/2;
    }
    .cabecalho-pedido{
    grid-column: 3/4;
    grid-row: 1/2;
    justify-content: center;
    }

}

/* banner */

.banner{
    background-image: url(bannerBarril.jpg);
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-titulo{
    font-family: var(--font-Zcool);
    color: var(--vinho);
    font-size: 3em;
    font-weight: bold;
}

.banner-texto{
    font-size: 1em;
    font-weight: 300;
}